---
import MainLayout from '../layouts/MainLayout.astro';
import ThreeJSAnimation from '../components/ThreeJSAnimation.js';
---

<MainLayout>
    <section class="hero">
        <div class="canvas-container">
            <canvas class="webgl"></canvas>
        </div>
        <div class="hero-content flow">
            <!-- Add your content here -->
        </div>
    </section>
</MainLayout>



<script>
    import ThreeJSAnimation from "../components/ThreeJSAnimation";
    const canvas = document.querySelector('.webgl');
    ThreeJSAnimation(canvas);
</script>