---
import ThemeToggle from './ThemeToggle.astro';
import Logo from './Logo.astro';
---

<header class="header">
  <div class="logo">
    <a href="/" class="logo-link">
      <Logo />
    </a>
    <p>Website under construction</p>
  </div>
  <div class="nav">
    <button class="burger-menu" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="nav-links">
      <a href="mailto:fxdecarpentrie@protonmail.com" target="_blank">Contact me</a>
      <a href="/public/doc/decarpentrie_portfolio_compressed.pdf" target="_blank">Download my portfolio</a>
      <ThemeToggle />
    </nav>
  </div>
</header>

<script>
  // Burger menu toggle
  const burgerMenu = document.querySelector('.burger-menu');
  const navLinks = document.querySelector('.nav-links');

  if (burgerMenu && navLinks) {
    burgerMenu.addEventListener('click', () => {
      navLinks.classList.toggle('active');
      burgerMenu.classList.toggle('active');
    });
  } else {
    console.error('Burger menu or nav links not found in the DOM.');
  }
</script>