---
// No props needed for this component yet
---
<section class="intro flow">
  <p class="small">Salut, I'm Fran&ccedil;ois-Xavier,<br>
  a business-minded designer in Paris.</p>
  <p class="big">
    I turn <strong>product visions into reality</strong><br>
    by putting design front and center as a key asset for both <strong id="intro-biz-text">businesses</strong>
    <svg id="intro-icon-business" width="1em" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="6771.247 -5519 52 52" style="-webkit-print-color-adjust::exact" class="icon" fill="none"><path d="M6783.532-5517h27.429v3.429h-27.429zm0 44.571h27.429v3.429h-27.429zm37.715-34.285v27.428h-3.429v-27.428zm-44.572 0v27.428h-3.428v-27.428zm6.857 0v27.428h-3.428v-27.428zm27.429-6.857h3.429v3.428h-3.429zm-30.857 0h3.428v3.428h-3.428zm0 37.714h3.428v3.428h-3.428zm6.857 0h3.429v3.428h-3.429zm24 0h3.429v3.428h-3.429zm3.429-3.429h3.428v3.429h-3.428zm-17.358-4.285h6.858v3.428h-6.858zm0-23.572h3.429v3.429h-3.429zm0 3.429v20.143h-3.428v-20.143zm10.286 0v20.143h-3.428v-20.143zm7.072-6.429h3.428v3.429h-3.428zm-27.429-3.428h3.429v3.428h-3.429zm-10.286 3.428h3.429v3.429h-3.429zm0 30.857h3.429v3.429h-3.429zm6.876-30.876 3.429.038-.038 3.428-3.428-.037zm0 30.876 3.429.038-.038 3.428-3.428-.037z" style="fill:#000;fill-opacity:1" class="fills"/><g class="strokes"><g class="outer-stroke-shape"><defs><path d="M6783.532-5517h27.429v3.429h-27.429zm0 44.571h27.429v3.429h-27.429zm37.715-34.285v27.428h-3.429v-27.428zm-44.572 0v27.428h-3.428v-27.428zm6.857 0v27.428h-3.428v-27.428zm27.429-6.857h3.429v3.428h-3.429zm-30.857 0h3.428v3.428h-3.428zm0 37.714h3.428v3.428h-3.428zm6.857 0h3.429v3.428h-3.429zm24 0h3.429v3.428h-3.429zm3.429-3.429h3.428v3.429h-3.428zm-17.358-4.285h6.858v3.428h-6.858zm0-23.572h3.429v3.429h-3.429zm0 3.429v20.143h-3.428v-20.143zm10.286 0v20.143h-3.428v-20.143zm7.072-6.429h3.428v3.429h-3.428zm-27.429-3.428h3.429v3.428h-3.429zm-10.286 3.428h3.429v3.429h-3.429zm0 30.857h3.429v3.429h-3.429zm6.876-30.876 3.429.038-.038 3.428-3.428-.037zm0 30.876 3.429.038-.038 3.428-3.428-.037z" id="a"/><mask id="b" x="6772.04" y="-5518.207" width="50.414" height="50.414" maskUnits="userSpaceOnUse"><use href="#a" style="fill:none;stroke:#fff;stroke-width:1"/><use href="#a" style="fill:#000;stroke:none"/></mask></defs><use href="#a" mask="url(#b)" style="fill:none;stroke-width:1;stroke:#000;stroke-opacity:1"/><use href="#a" style="fill:none;fill-opacity:none;stroke-width:.5;stroke:none;stroke-opacity:1"/></g></g></svg>
    and <s>users</s> <strong id="intro-customers-text">customers </strong><svg id="intro-icon-customers" width="1em" height="1em" viewBox="7593 -6556 38 39" class="icon" fill="none"><path d="M7597-6556h9v4h-9zm21 0h9v4h-9zm-17 21v9h-4v-9zm-4-12h9v4h-9zm25 12v9h-4v-9zm-25 14h9v4h-9zm0-22v22h-4v-22zm21-4h9v4h-9zm-8 4v22h-4v-22zm21 0v22h-4v-22zm-13 22h9v4h-9zm0-22v22h-4v-22z" style="fill:currentColor;fill-opacity:1"/></svg> .<br>
  </p>
  <p class="big">
    My cultural awareness and open-minded approach help <strong id="intro-collab-text">bring stakeholders together</strong> and <strong>encourage meaningful collaboration</strong>
    <svg id="intro-icon-collaboration" width="1em" height="1em" viewBox="17139 -2484 48.2 43.826" class="icon intro-heart-icon" fill="none"> 
      <rect rx="0" ry="0" x="17145.47" y="-2472.47" transform="rotate(-90 17148.6 -2470.87)" width="6.261" height="3.2" style="fill:#fff;fill-opacity:1"/>
      <rect rx="0" ry="0" x="17150.035" y="-2477.035" transform="rotate(-90 17151.6 -2475.435)" width="3.13" height="3.2" style="fill:#fff;fill-opacity:1"/>
      <path d="M17145.4-2484h12.8v3.13h-12.8zm22.4 0h12.8v3.13h-12.8zm-22.4 0h12.8v3.13h-12.8zm22.4 0h12.8v3.13h-12.8zm-28.8 17.217v-10.956h3.2v10.956zm44.8 0v-10.956h3.2v10.956zm-41.6 7.826v-7.826h3.2v7.826zm0 0v-7.826h3.2v7.826zm38.4 0v-7.826h3.2v7.826zm0 0v-7.826h3.2v7.826zm-22.4-21.913h3.2v3.131h-3.2zm3.2 3.131h3.2v3.13h-3.2zm0 34.435h3.2v3.13h-3.2zm3.2-37.566h3.2v3.131h-3.2zm-19.2 21.913h3.2v3.131h-3.2zm0 0h3.2v3.131h-3.2zm32 0h3.2v3.131h-3.2zm-35.2-21.913h3.2v3.131h-3.2zm6.4 25.044h3.2v3.13h-3.2zm32-25.044h3.2v3.131h-3.2zm-3.2 21.913h3.2v3.131h-3.2zm-28.8 3.131h3.2v3.13h-3.2zm-6.4-25.044h3.2v3.131h-3.2zm9.6 28.174h3.2v3.131h-3.2zm22.4-3.13h3.2v3.13h-3.2zm-22.4 3.13h3.2v3.131h-3.2zm3.2 3.131h3.2v3.13h-3.2zm3.2 3.13h3.2v3.131h-3.2zm6.4 0h3.2v3.131h-3.2zm-9.6-3.13h3.2v3.13h-3.2zm25.6-31.305h3.2v3.131h-3.2zm-6.4 25.044h3.2v3.13h-3.2zm-3.2 3.13h3.2v3.131h-3.2zm-3.2 3.131h3.2v3.13h-3.2zm0 0h3.2v3.13h-3.2zm3.2-3.131h3.2v3.131h-3.2zm-3.2-28.174h12.8v21.913h-12.8zm-22.4 0h12.8v21.913h-12.8zm-3.2 3.131h3.2v10.956h-3.2zm38.4 0h3.2v10.956h-3.2zm-22.4 3.13h9.6v28.174h-9.6zm-11.2 7.435v-6.261h3.2v6.261zm3.2-6.261v-3.13h3.2v3.13zm8-4.304h3.2v3.13h-3.2zm-3.2 25.043h3.2v3.131h-3.2zm12.8 0h3.2v3.131h-3.2zm6.4-6.261h3.2v3.131h-3.2zm-25.6 0h3.2v3.131h-3.2zm12.8 12.522h3.2v3.131h-3.2zm3.2-31.304h3.2v3.13h-3.2zm-12.8 18.782h6.4v6.261h-6.4zm16 0h6.4v6.261h-6.4z" style="fill:currentColor;fill-opacity:1"/>
      <rect rx="0" ry="0" x="17150.035" y="-2477.035" transform="rotate(-90 17151.6 -2475.435)" width="3.13" height="3.2" style="fill:#fff;fill-opacity:1"/>
      <rect rx="0" ry="0" x="17139.035" y="-2467.035" transform="rotate(-90 17140.6 -2465.435)" width="3.13" height="3.2" style="fill:currentColor;fill-opacity:1"/>
      <rect rx="0" ry="0" x="17184.035" y="-2467.035" transform="rotate(-90 17185.6 -2465.435)" width="3.13" height="3.2" style="fill:currentColor;fill-opacity:1"/>
      <rect rx="0" ry="0" x="17145.47" y="-2472.47" transform="rotate(-90 17148.6 -2470.87)" width="6.261" height="3.2" style="fill:#fff;fill-opacity:1"/>
    </svg>
    in all kinds of settings.
  </p>
</section>

<style>
  /* Styles for IntroSection, including responsive adjustments */
  .intro {
    width: 50%;
    margin-top: 8rem;
    text-align: left;
  }

  .intro .small {
    font-family: var(--font-mono);
    font-size: var(--font-size-md);
    color: var(--color-gray);
    margin-bottom: var(--space-sm);
  }

  .intro .big {
    font-size: var(--font-size-lg);
    font-family: var(--font-sans);
    line-height: 1.4;
  }

  .icon { 
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor; 
    transform-origin: center; 
  }
  
  .intro-heart-icon { 
    /* transform-origin: center center; already on .icon */
  }


  @media (max-width: 768px) {
    .intro {
      width: 100%; 
      margin-top: var(--space-lg); 
      text-align: center; 
      padding-left: 1rem; 
      padding-right: 1rem;
    }

    .intro .big {
      font-size: var(--font-size-md); 
    }
    
    .intro .small {
      font-size: var(--font-size-sm); 
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  document.addEventListener('DOMContentLoaded', () => {
    const collaborationIcon = document.getElementById("intro-icon-collaboration");

    if (collaborationIcon) {
      gsap.set(collaborationIcon, { transformOrigin: "50% 50%" });

      const tl = gsap.timeline({ repeat: -1, yoyo: true, repeatDelay: 0.6 });
      tl.to(collaborationIcon, { scale: 1.15, duration: 0.3, ease: "power1.inOut" })
        .to(collaborationIcon, { scale: 1, duration: 0.4, ease: "power1.inOut" });
    }
    
    // Optional: Add animations for other icons if desired
    // const businessIcon = document.getElementById("intro-icon-business");
    // if (businessIcon) { /* ... animate businessIcon ... */ }
    // const customersIcon = document.getElementById("intro-icon-customers");
    // if (customersIcon) { /* ... animate customersIcon ... */ }
  });
</script>