---
import Header from '../components/Header.astro';
import CustomCursor from '../components/CustomCursor.astro';
import '../styles/global.css';
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@geist-ui/core@latest/fonts/geist-sans.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@geist-ui/core@latest/fonts/geist-mono.css">
  </head>
  <body>
    <CustomCursor />
    <Header />
    
    <main class="main-layout container">
      <slot />
    </main>
  </body>
</html>